/* Page container */
/*.register-container {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, sans-serif;
}*/

.register-container {
  background: url("../image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, sans-serif;
}


/* Card */
.register-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
}

/* Title */
.register-title {
  text-align: center;
  color: #4b6cb7;
  margin-bottom: 20px;
}

/* Inputs */
.register-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
.register-btn {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.register-btn:hover {
  opacity: 0.9;
}
